[submodule "themes/restaurant"]
	path = themes/restaurant
	url = https://github.com/habesha-caffe/restaurant-hugo.git
[submodule "themes/restaurant-hugo"]
	path = themes/restaurant-hugo
	url = https://github.com/habesha-caffe/restaurant-hugo.git
